<div th:fragment="navbar">
    <!--nav bar starts-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: black">
        <div class="container-fluid">

<!--            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">-->
<!--                <span class="material-symbols-outlined" style="color: white">menu</span>-->
<!--            </button>-->

            <a class="navbar-brand text-white"><b>Viru Books</b></a>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="ms-2 navbar-nav">


                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-symbols-outlined">house</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Item
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="itemCategoryButton" href="/item-category">Item Category Master</a></li>
                            <li><a class="dropdown-item" id="itemButton" href="/item-master">Item Master</a></li>
                            <li><a class="dropdown-item" id="productionButton" href="/production-header">Production Master</a></li>
                            <li><a class="dropdown-item" id="stockAdjustmentButton" href="/stockAdjustmentHeader">Stock Adjustment Master</a></li>
                            <li><a class="dropdown-item" id="locationButton" href="/location-master">Location Master</a></li>
                            <li><a class="dropdown-item" id="stockTransferButton" href="/stock-transfer">Stock Transfer Master</a></li>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Customer
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="customerButton" href="/customer-master">Customer Master</a></li>
                            <li><a class="dropdown-item" id="schoolButton" href="/school-master">School Master</a></li>
                            <li><a class="dropdown-item" id="studentButton" href="/student/view">Student Master</a></li>
                            <li><a class="dropdown-item" id="vpsButton" href="/vps">Vps Master</a></li>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" id="invoiceButton" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Invoice
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/invoice-header">Invoice master</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Collection Master
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="collectionButton" href="/collection-master">Collection master</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Report
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="stockReportButton" href="/stock-report/view">Stock Report</a></li>
                            <li><a class="dropdown-item" id="salesReportButton" href="/sales-report/view">Sales Report</a></li>
                            <li><a class="dropdown-item" id="productionReportButton" href="/production-report/view">Production Report</a></li>
                            <li><a class="dropdown-item" id="newProductionReportButton" href="/production-report/view/new">New Production Report</a></li>
                            <li><a class="dropdown-item" id="stockTransferReportButton" href="/stock-transfer-report">Stock Transfer Report</a></li>
                            <li><a class="dropdown-item" id="vpsReportButton" href="/vpsReport">Vps report</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Proforma Invoice
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" id="performaButton" href="/perfoma-invoice-header">Proforma Invoice master</a></li>
                        </ul>
                    </li>


                    <p id="lblUserName" style="color: whitesmoke" class="nav-item h4 ms-5 mt-1"></p>
                    <p id="lblUserRole" style="color: whitesmoke" class="nav-item h4 ms-5 mt-1"></p>



                </ul>




            </div>
        </div>

        <div class="text-end me-2">
            <button type="button" class="btn btn-danger" onclick="logoutHandler()">Logout</button>
        </div>

    </nav>
    <!--nav bar ends-->
</div>


