<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School master</title>

    <!--    bootstrap cdn links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/commonjs/selectcommonfunction.js"></script>
    <script src="/commonjs/jquery.js"></script>
    <script src="/commonjs/validation.js"></script>
    <script src="/commonjs/ajaxcommonfunction.js"></script>
    <script src="/commonjs/tablecommonfuntion.js"></script>
    <script src="/controllerjs/schoolMaster.js"></script>



    <!--    jquery cdn start-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <!--    jquery cdn end-->
</head>
<body>

<!--header area start-->
<div class="row p-4" style="background-color: #3C3D37;">
    <h1 class="text-center" style="color: whitesmoke">School Master</h1>
</div>
<!--header area start-->

<!--    edit delete print button start-->
<div class="row mt-2">
    <div id="divModifyButton" class="d-none">
        <div class="col-md-6">
            <button type="button" class="btn btn-warning fw-bold"
                    style="width: 15%; color: whitesmoke; border: 1px solid black;"
                    onclick="refillSchoolMaster(window['editOb'],window['editRow'])">
                <i class="fa-solid fa-recycle fa-beat"></i> refill
            </button>
            <button type="button" id="divModifyButtonDelete" class="btn btn-danger fw-bold"
                    style=" width: 15%; color: whitesmoke; border: 1px solid black; pointer-events: all"
                    onclick="deleteSchoolMaster(window['editOb'],window['editRow'])">
                <i class="fa-solid fa-trash fa-beat"></i> Delete
            </button>
            <button onclick="printOneSchool(window['editOb'],window['editRow'])" type="button"
                    class="btn btn-primary fw-bold"
                    style=" width: 15%; color: whitesmoke;border: 1px solid black">
                <i class="fa-solid fa-eye fa-beat"></i> Print
            </button>
        </div>
    </div>
</div>
<!--    edit delete print button end-->

<!--form area start-->
<div class="card p-4">
<form onsubmit="return false">


<div class="row mt-5">

    <div class="col-md-3">
        <label for="textSchoolName" class="form-label fw-bold">School Name</label>
        <input type="text" id="textSchoolName" class="form-control text-start" placeholder="Enter School Name" onkeyup="textValidator(this,'','schoolMaster','school_master_name')">
    </div>

    <div class="col-md-3">
        <label for="textContactPerson" class="form-label fw-bold">Contact Person</label>
        <input type="text" id="textContactPerson" class="form-control text-start" placeholder="Enter Contact Person" onkeyup="textValidator(this,'','schoolMaster','school_master_contact_person')">
    </div>


    <div class="col-md-3">
        <label for="textContactNumber" class="form-label fw-bold">Contact Number</label>
        <input type="text" id="textContactNumber" class="form-control text-start" placeholder="Enter Contact Number" onkeyup="textValidator(this,'^[0-9]{10}$','schoolMaster','school_master_contact_number')">
    </div>


    <div class="col-md-3">
        <label for="textEmail" class="form-label fw-bold">Email</label>
        <input type="text" id="textEmail" class="form-control text-start" placeholder="Enter Email" onkeyup="textValidator(this,'','schoolMaster','school_master_email')">
    </div>


</div>



<div class="row mt-5">

    <div class="col-md-6">
        <label for="textAddress" class="form-label fw-bold">Address</label>
        <input type="text" id="textAddress" class="form-control text-start" placeholder="Enter Address" onkeyup="textValidator(this,'','schoolMaster','school_master_address')">
    </div>

    <div class="col-md-3">
        <label for="textArea" class="form-label fw-bold">Area</label>
        <input type="text" id="textArea" class="form-control text-start" placeholder="Enter Area" onkeyup="textValidator(this,'','schoolMaster','school_master_area')">
    </div>


    <div class="col-md-3">
        <label for="textDistrict" class="form-label fw-bold">District</label>
        <input type="text" id="textDistrict" class="form-control text-start" placeholder="Enter District" onkeyup="textValidator(this,'','schoolMaster','school_master_district')">
    </div>



</div>



    <div class="row mt-5">
        <div class="col-md-3">
            <label for="selectStatus" class="form-label fw-bold">Status</label>
            <select id="selectStatus" class="form-select text-start" onchange="selectValidator(this,'','schoolMaster','school_master_status')">
                <option value="">select an option</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-4">
            <button type="button" class="btn btn-danger" onclick="handelReset()">reset</button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-warning" style="pointer-events: all" id="buttonSchoolMasterUpdate" onclick="updateSchoolMaster()">update</button>
        </div>
        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-success" style="pointer-events: all" id="buttonSchoolMasterSubmit" onclick="saveSchoolMaster()">Submit</button>
        </div>
    </div>


</form>
</div>
<!--form area end-->

<div class="row mt-5">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-center">
        <button type="button" class="btn btn-dark" onclick="printAllSchoolInfo()">Print All Schools</button>
    </div>
</div>


<!--table school start-->
<div class="card p-4 mt-5">
<table class="table table-bordered" id="tableSchoolMaster">
    <thead class="text-center">
        <th>#</th>
        <th>School Name</th>
        <th>School Address</th>
        <th>Contact Number</th>
        <th>Contact person</th>
        <th>Email</th>
        <th>status</th>
        <th>Actions</th>
    </thead>
    <tbody></tbody>
</table>
</div>
<!--table school end-->


<!--table school start for print-->
<div class="d-none">
    <table class="table table-bordered" id="tableSchoolMasterPrint" style="font-size: 11px; font-family: Verdana; border: 1px solid black">
        <thead class="text-center">
        <th>#</th>
        <th>School Name</th>
        <th>School Address</th>
        <th>Contact Number</th>
        <th>Contact person</th>
        <th>Email</th>
        <th>status</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!--table school end-->




</body>
</html>